# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [4]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [25]:
stocks = pd.read_csv('sp_500_stocks.csv')

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [6]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [8]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()

{'avgTotalVolume': 101151023, 'calculationPrice': 'close', 'change': -5.59, 'changePercent': -0.03763, 'close': 144.46, 'closeSource': 'lfofiiac', 'closeTime': 1718346636583, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': 144.54, 'delayedPriceTime': 1687203335074, 'extendedChange': -0.13, 'extendedChangePercent': -0.00094, 'extendedPrice': 143.33, 'extendedPriceTime': 1671098272203, 'high': 148.73, 'highSource': 'edan 1 ectp 5diueremliy', 'highTime': 1665854185266, 'iexAskPrice': None, 'iexAskSize': None, 'iexBidPrice': None, 'iexBidSize': None, 'iexClose': 142.13, 'iexCloseTime': 1698749823706, 'iexLastUpdated': None, 'iexMarketPercent': None, 'iexOpen': 143.7, 'iexOpenTime': 1711996881701, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexVolume': None, 'lastTradeTime': 1666401964183, 'latestPrice': 147.08, 'latestSource': 'Close', 'latestTime': 'October 7, 2022', 'latestUpdate': 1710334207152, 'latestVolume': 87468211, 'low': 143.628, 'lowSource': 'rmelpdtey uc ndaei1 ei5', 'lowTime': 1687936993256, 'marketCap': 2305347390902, 'oddLotDelayedPrice': 144, 'oddLotDelayedPriceTime': 1742441802111, 'open': 148.73, 'openTime': 1733937149924, 'openSource': 'liacfiof', 'peRatio': 23.39, 'previousClose': 147.25, 'previousVolume': 71332730, 'primaryExchange': 'ADSNAQ', 'symbol': 'AAPL', 'volume': 89509314, 'week52High': 186.09, 'week52Low': 133.86, 'ytdChange': -0.24570168663465788, 'isUSMarketOpen': False}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [9]:
price = data['latestPrice']
market_cap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [15]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
my_columns1 = ['Ticker2', 'Stock Price2', 'Market Capitalization2', 'Number of Shares to Buy2']

final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [23]:
final_dataframe.append(
    pd.Series(
        [
            symbol, price, market_cap, 'N/A'
        ], index = my_columns
    ),
    ignore_index = True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       147.08         2305347390902                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [28]:
final_dataframe = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker'][:5]:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
        pd.Series(
            [
                stock, data['latestPrice'], data['marketCap'], 'N/A'
            ], index = my_columns
        ), ignore_index = True
    )

In [29]:
final_dataframe

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0      A       127.56           37807356430                     N/A
1    AAL        12.58            7918841390                     N/A
2    AAP       162.39            9827369984                     N/A
3   AAPL       142.25         2323177543716                     N/A
4   ABBV       139.55          256894196646                     N/A

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [30]:
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i+n]

In [45]:
# symbol_groups = list(chunks(stocks['Ticker'], 100))
# symbol_strings = []
# for i in range(0, len(symbol_groups)):
#     symbol_strings.append(','.join(symbol_groups[i]))

# final_dataframe = pd.DataFrame(columns = my_columns)

# for symbol_string in symbol_strings:
#     batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
#     data = requests.get(batch_api_call_url).json()
#     for symbol in symbol_string.split(','):
#         if symbol in data:
#             final_dataframe = final_dataframe.append(
#                 pd.Series(
#                     [
#                         symbol, 
#                         data[symbol]['quote']['latestPrice'], 
#                         data[symbol]['quote']['marketCap'], 
#                         'N/A'
#                     ], index = my_columns
#                 ), ignore_index = True
#             )
# final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       132.82           38150353801                     N/A
1      AAL        12.49            8261522868                     N/A
2      AAP       166.12           10164021262                     N/A
3     AAPL       145.29         2279934460322                     N/A
4     ABBV       139.72          248252188985                     N/A
..     ...          ...                   ...                     ...
496    YUM       114.18           31454522358                     N/A
497    ZBH       109.79           23798016407                     N/A
498   ZBRA       276.68           13876438777                     N/A
499   ZION        52.14            7911555623                     N/A
500    ZTS       149.56           71439780876                     N/A

[501 rows x 4 columns]

In [54]:
# final_dataframe.to_csv('final_dataframe.csv',index=False)
final_dataframe = pd.read_csv('final_dataframe.csv')
final_dataframe

    Ticker  Stock Price  Market Capitalization  Number of Shares to Buy
0        A       132.82           3.815035e+10                      NaN
1      AAL        12.49           8.261523e+09                      NaN
2      AAP       166.12           1.016402e+10                      NaN
3     AAPL       145.29           2.279934e+12                      NaN
4     ABBV       139.72           2.482522e+11                      NaN
..     ...          ...                    ...                      ...
496    YUM       114.18           3.145452e+10                      NaN
497    ZBH       109.79           2.379802e+10                      NaN
498   ZBRA       276.68           1.387644e+10                      NaN
499   ZION        52.14           7.911556e+09                      NaN
500    ZTS       149.56           7.143978e+10                      NaN

[501 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [61]:
portfolio_size = input('Enter the value of your portfolio: ')

try:
    portfolio_size = float(portfolio_size)
except ValueError:
    print("That's not a number! Please enter valid value")
    portfolio_size = input('Enter the value of your portfolio: ')
    portfolio_size = float(portfolio_size)

Enter the value of your portfolio: 10000000

In [63]:
position_size = portfolio_size/len(final_dataframe.index)
for i in range(len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i, 'Stock Price'])
final_dataframe

    Ticker  Stock Price  Market Capitalization  Number of Shares to Buy
0        A       132.82           3.815035e+10                    150.0
1      AAL        12.49           8.261523e+09                   1598.0
2      AAP       166.12           1.016402e+10                    120.0
3     AAPL       145.29           2.279934e+12                    137.0
4     ABBV       139.72           2.482522e+11                    142.0
..     ...          ...                    ...                      ...
496    YUM       114.18           3.145452e+10                    174.0
497    ZBH       109.79           2.379802e+10                    181.0
498   ZBRA       276.68           1.387644e+10                     72.0
499   ZION        52.14           7.911556e+09                    382.0
500    ZTS       149.56           7.143978e+10                    133.0

[501 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

## Saving Our Excel Output

Saving our Excel file is very easy: