In [1]:
# Raw Package
import numpy as np
import pandas as pd

#Data Source
import yfinance as yf

#Data viz
import plotly.graph_objs as go

In [2]:
# df = pd.read_json("nasdaq.json")

In [3]:
df = pd.read_csv("nasdaq.csv")

In [1]:
df["Symbol"] = df["Symbol"].str.replace('^', '-P')
df["Symbol"] = df["Symbol"].str.replace('.', '-')

In [5]:
df["Symbol"][0:10]

0          A
1         AA
2        AAC
3       AACG
4       AAIC
5    AAIC-PB
6    AAIC-PC
7        AAL
8       AAMC
9       AAME
Name: Symbol, dtype: object

In [6]:
stock_tickers = df["Symbol"].str.cat(sep=' ')

In [2]:
# stock_tickers

In [3]:
data = yf.download(tickers=stock_tickers, period='5d')

# # #Print data
# #if hangs again try argument: threads= False
# #or pip install yfinance==0.1.62
# # pip install yfinance --upgrade --no-cache-dir
# # data[0:]

In [267]:
# data1 = yf.download(tickers = "SPY AAPL MSFT", period= '5d')
hist_data = data

             Open  High   Low  Close  Adj Close     Volume
Date
2021-07-06  2.000  2.69  1.88   2.68       2.68  170868400
2021-07-07  2.510  3.34  2.26   3.29       3.29  337116100
2021-07-08  2.680  3.87  2.63   2.80       2.80  345082400
2021-07-09  3.095  3.35  2.62   2.91       2.91  177419500
2021-07-12  3.190  3.63  2.98   3.47       3.47  249544200
2021-07-13  3.570  5.45  3.50   4.34       4.34  512018700

In [ ]:
curr_data = yf.download(tickers=stock_tickers, period='1d')

In [163]:
# ticker = "MSFT"
# avg_vol = data["Volume"][0:4][ticker].mean()
# curr_vol = data["Volume"][4:][ticker].mean()
# avg_close = data["Close"][0:4][ticker].mean()
# curr_close = data["Close"][4:][ticker].values[0]
# times = curr_vol/avg_vol

In [257]:
avg_vol = hist_data["Volume"].mean()
curr_vol = curr_data["Volume"].mean()
last_close = hist_data["Close"].mean()
curr_close = curr_data["Close"].values[0]
close_diff = curr_close - last_close
times = curr_vol/avg_vol

In [258]:
d = {'times':times, 'curr_vol': curr_vol, 'avg_vol': avg_vol, 'last_close': last_close, 'curr_close':curr_close, 'close_diff': close_diff}

In [259]:
Stocks_df = pd.DataFrame(data=d)

In [274]:
Stocks_df.style.format('{0:,.3f}')